header {
  background-image: url("../img/front_blurred.png");
  background-size: cover;
  height: 900px;
}
.name {
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 100px;
}
span.bg-success {
  background-color: #18BC9C;
  padding: 5px 15px;
}
a {
  color: #337ab7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
}
p > a:hover, p > a:visited {
  color: #2c3e50;
  text-decoration: none;
}
.medskip {
  height: 25px;
}
.intro-text {
  margin: 100px 0px;
}
header .list-inline > li {
  margin: 0px 25px;
}
.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}
